* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }  

body {
    font-family: "Raleway";
    overflow: hidden;
    font-weight: bold;

}

#statistics {
    position: fixed;
    top: 6%;
    right: 3%;
    width: 3%;
    height: 7%;
    z-index: 9999;
}

#statistics img {
    width: 80%;
    height: 80%;
}

#stat_div {
    position: fixed;
    top: 6%;
    right: 12%;
    display: inline-block;
    height: 40%;
    z-index: 9999;
    background-color: aliceblue;
    box-shadow: 7px 7px 7px black;
}

#stat_div p {
    margin: 10px;
    line-height: 2;
    font-size: 2.3vh;
}

#container {
    display:flex;
    flex-direction: column; /* stack the child elements vertically */
    justify-content: space-around;
    align-items: flex start;
    background-color: #003500d3;
    height: 100vh;
}

#container #new_game {
    height: 10%;
    font-size: 1.2vw;
}

.hands {
    width: 90%;
    height: 35%;
    margin-left: 6%;    
}

.hands {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.commands {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 90%;
    height: 5%;
    margin-left: 8%;
    margin-right: 10px;
}

.commands button {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1vw;
    margin-left: 15px;
    margin-right: 10%;
    width: 40%;
}

#player_hand {
    display: flex;
    justify-content: flex-start;
}

#dealer_hand  {
    display: flex;
    justify-content: flex-start;
}

#player_hand * {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid;
    border-color: aliceblue;
    width: 17%;
    margin-left: 15px;
}

#dealer_hand * {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid;
    border-color: aliceblue;
    width: 17%;
    margin-left: 15px;
}

#message-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 3vw;
    width: 90%;
    border: none;
}
