<!DOCTYPE html>

<html lang="en">

<head>
    <title> Black Jack - Bar Golan </title>

    <!-- meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The app allows a player to play Black Jack against a dealer, While providing smart statistics and recommendations.">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='random_run.js') }}"></script> -->

      
    
    <!-- fonts and icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Sofia|Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>

<body>
    <button id="statistics"  style="display: none;">
        <img src="{{ url_for('static', filename='images/light_bulb.png') }}" alt="Light bulb icon">
    </button>
    <div id="container">
        <button id="new_game">New Game</button>
    </div>

</body>

</html>